.heading {
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    padding: 0.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background:linear-gradient(180deg, #000000, #252525);
    justify-content: center;
    color:white
}
body, header {
    margin: 0;
    padding: 0;
}   
.ls {
    color: white;
    margin-top:1.2rem;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2rem;
}

.prompt {
    color: green;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg, #232323, #262626);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 5%;
    padding: 0.8rem;
    width: 80%;
    border-radius: 10px;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
body {
    font-family: Rubik;
    background: linear-gradient(180deg, #000000, #080808);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    padding:0.8rem
}
.project {
    background-color: #222222;
    color: white;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    width: 18rem;
    justify-content: center;
    align-items: center;
    height: 13rem;
    box-shadow: #0f0f0f;
}
.project-tech {
    color: white;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1rem;
}
