.heading {
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    padding: 0.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    justify-content: center;
    color:white
}
body {
    --dot-bg: #161616;
    --dot-color: #848282;
    --dot-size: 1px;
    --dot-space: 10px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color) !important;
}
body, header {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}   
.ls {
    color: white;
    margin-top:1.2rem;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2rem;
}

.prompt {
    color: green;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg, #232323, #262626);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 5%;
    padding: 0.8rem;
    width: 80%;
    border-radius: 10px;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
body {
    font-family: Rubik;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    padding:0.8rem
}
.project {
    border-radius: 20px;
    backdrop-filter: blur(0.8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(89, 89, 89, 0.3); 
    color: white;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    width: 15rem;
    justify-content: center;
    align-items: center;
    height: 14rem;
    box-shadow: #0f0f0f;
}
.project-tech {
    color: white;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1rem;
}
